<header class="masthed-signup d-flex">
  <div class="container-signup text-right fixed-bottom">
    <div class="container p-4">
      <div class="row">
        <div class="col-md-4 mx-auto">
          <div class="card text-center">
            <div class="card-header">
              <h3>Register</h3>
            </div>
            <div class="card-body" style="padding: 30px;">

              <img src="/images/iconshop.webp" alt="logo ferreteria" class="card-img-top mx-auto m-2 rounded-circle w-350">
              <form action="/register" method="post">
                <div class="form-group">
                  <input type="text" name="fullname" placeholder="Full Name" class="form-control" autofocus style="margin-bottom: 20px">
                </div>
                <div class="form-group">
                  <input type="text" name="username" placeholder="Username" class="form-control" style="margin-bottom: 20px">
                </div>
                <div class="form-group">
                  <input type="password" name="password" placeholder="Password" class="form-control" style="margin-bottom: 20px">
                </div>
                <div class="form-group">
                  <button class="btn btn-success btn-block">Registrarse</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>