<link rel="stylesheet" href="/styles/404.css">

<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span></span>4</h1>
			</div>
			<h2>Oops! Pagina no encontrada</h2>
			<p>Lo sentimos, pero la página que está buscando no existe, ha sido eliminada. El nombre ha cambiado o no está disponible temporalmente</p>
			<a href="/dashboard">Regresar a inicio</a>
		</div>
	</div>