<div class="row">
    <div class="cold-md-4 mx-auto">
        <h1>404 - Error, no se encontro la url</h1>
        <p>Ha ocurrido un error y no se encontro la vista solicitada.</p>
        <a href="/">Volver al inicio</a>

    </div>
</div>