<div class="row">
    <div class="cold-md-4 mx-auto">
        <h1>500 - Error en el servidor</h1>
        <p>Ha ocurrido un error en el servidor. Por favor, intenta nuevamente más tarde.</p>
        <a href="/">Volver al inicio</a>
    </div>
</div>