<link rel="stylesheet" href="/styles/500.css">

<div class="container">
      <img src="/images/conos.webp" />

      <h1>
        <span>500</span> <br />
        Error interno del servidor
      </h1>
      <p>Actualmente estamos tratando de solucionar el problema.</p>
      <p class="info">
      </p>
    </div>