<main class="index">
  <div class="container-fluid">
    <div class="row">
      <div class="col">

        <img src="/images/fondoinicio.webp" class="img-fluid" alt="imagen de fondo">

      <!--div class="container text-center my-auto" background="/images/fondoinicial.webp">
      </div--->

      </div>
      <div class="container text-center my-auto">
        <div class="container-secondary text-right fixed-bottom" background="/images/fondoinicial.webp" >
          <h1 class="mb-1">SISTEMA WEB<br>Ferreteria</h1>
          <h3 class="mb-5"><em>"Confia en nosotros"</em></h3>
          <a href="/login" class="btn btn-primary">Continuar</a>
        </div>
      </div>
    </div>
  </div>
</main>