body {
  background: url('/images/fondoinicio.webp') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
}
.card {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.9);
}

.navbar {
    background: #2c3e50;
    padding: 15px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-radius: 0;
}

/* Estilos de los botones */
.btn-custom {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: 0.3s;
}

.btn-custom-primary {
    background-color: #3498db;
    color: white;
    border: none;
}

.btn-custom-primary:hover {
    background-color: #2980b9;
}

.btn-custom-success {
    background-color: #2ecc71;
    color: white;
    border: none;
}

.btn-custom-success:hover {
    background-color: #27ae60;
}

.input#subtotal, .input#iva, .input#total {
    font-weight: bold;
    text-align: right;
    background-color: #6c6c6d;
}

/* Estilos para los inputs de edición */
.edit-cantidad, .edit-precio {
    width: 80px;
    display: inline-block;
}

/* Ajustes para los botones */
.btn-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
}

.edit-metodo-pago {
    width: 120px;
    display: inline-block;
}

.form-select-sm {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    height: calc(1.5em + 0.5rem + 2px);
}

/* Estilos para la advertencia de producto vencido */
.vencido-alert-container {
    text-align: left;
}

.vencido-alert-message {
    color: #856404;
    background-color: #fff3cd;
    padding: 10px;
    border-radius: 5px;
    border-left: 4px solid #ffeeba;
    margin-bottom: 15px;
}

.vencido-alert-icon {
    margin-right: 8px;
    color: #ffc107;
}

.vencido-alert-question {
    font-weight: bold;
    margin-top: 15px;
}