<div>
    <div class="content">
        <h1>Proveedor <img src="https://cdn-icons-png.flaticon.com/512/2920/2920215.png" alt="icon"></h1>

        <div class="form-container">
            <div class="form-group">
                <label>Código:</label>
                <input type="text">
                <label>Teléfono:</label>
                <input type="text">
            </div>
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text">
                <label>Compañía Telefónica:</label>
                <select>
                    <option>Claro</option>
                    <option>Movistar</option>
                </select>
            </div>
            <div class="form-group">
                <label>Apellido:</label>
                <input type="text">
                <label>Sector:</label>
                <select>
                    <option>Industrial</option>
                    <option>Comercial</option>
                </select>
            </div>

            <div class="buttons">
                <button class="ingresar"><i class="fas fa-save"></i> Ingresar</button>
                <button class="eliminar"><i class="fas fa-trash"></i> Eliminar</button>
            </div>
        </div>
    </div>
</div>